[submodule "subprojects/catch2"]
	path = subprojects/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "subprojects/tracy"]
	path = subprojects/tracy
	url = https://bitbucket.org/wolfpld/tracy.git
[submodule "subprojects/boost"]
	path = subprojects/boost
	url = https://github.com/boostorg/boost.git
[submodule "subprojects/eigen"]
	path = subprojects/eigen
	url = https://gitlab.com/libeigen/eigen.git
