
# default build directory
/build/

# default output directory for simulation data
/output/
/verify-output/

# developer tool specific directories
/.clangd/
/.gdb_history

# project specific files
schemes/include/**/*.hpp
!schemes/include/**/pt16_solvers.hpp
