[submodule "external/span"]
	path = external/span
	url = https://github.com/tcbrindle/span.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "external/ungrd"]
	path = external/ungrd
	url = https://github.com/siretty/ungrd
